{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="container2">
	<div id="dateh">{{date}}</div>
	<div id="menu">       
		<tm>{% trans 'Time' %}</tm>
		<tm>{% trans 'Event Name' %}</tm>
		<tm>{% trans 'Event Type' %}</tm>
		<tm>{% trans 'Event User' %}</tm>
	</div>
	<div id="menu">	
	{% for event in events %}
		<tm class="general"> {{event.get_time_display}}</tm>
		<tm class="general">{{event.title|slice:":40"}}</tm>
		<tm class="general">{{event.get_event_type_display}}</tm>
		<tm class="general">{{event.user}}</tm>
	{% endfor %}
	</div>

</div>
{% endblock %}