<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>No-craSh</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/custom.less" />
    <script src="{{ STATIC_URL }}js/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}js/scrolling-nav.js"></script>
    <link href="{{ STATIC_URL }}css/scrolling-nav.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/heroic-features.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}css/less.js"></script>
    
</head>