{% load i18n %}
<body onload="UR_Start()" id="page-top" class="gre" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll tp">
                <a style="font-size:16px;color:grey;outline:none;" href="{% url 'index' %}"><img src="{{STATIC_URL}}img/kum.png" />NocraSh</a>
            </div>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="ri">
                    <ul class="nav navbar-nav">
                    <li>
                        <a style="outline:none;" href="{% url 'my_event' %}">{{ request.user }}(Etkinliklerim)</a>
                    </li>
                    </ul>         
                </div>
            </div>
            {% else %}
            <div class="ri">
                    <ul class="nav navbar-nav">
                    <li>
                        <a style="outline:none;" href="{% url 'login' %}">{% trans 'Login' %}</a>
                    </li>
                    <li>
                        <a class="reg" style="outline:none;color:#008080;" href="{% url 'contact' %}">{% trans 'Register' %}</a>
                    </li>
                    <li>
                        <a href="">{% trans 'How it works' %}</a>
                    </li>
                    
                    </ul>         
            </div>
            {% endif %}
        </div>
    </nav>
</body>
</html>
