{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div id="container2">
	{% if events %}
	<div id="menumy">            
		<tl></tl>
		<tl>{% trans 'Event Time' %}</tl>
		<tl>{% trans 'Time' %}</tl>
		<tl>{% trans 'Event Name' %}</tl>
		<tl>{% trans 'Event Type' %}</tl>
		<tl>{% trans 'Event User' %}</tl>
	</div>
	<div id="contentmy">		    
		{% for event in events %}
			<tl class="general">
			    <a style="outline:none;color:#008080;" href="{% url 'update_event' event.id %}">Guncelle</a>
			</tl>
			<tl class="general">
			    {{event.date}}
			</tl>
			<tl class="general">
			    {{event.get_time_display}}
			</tl>
			<tl class="general">
			    {{event.title}}
			</tl>
			<tl class="general">
			    {{event.get_event_type_display}}
			</tl>
			<tl class="general">
			    {{event.user}}
			</tl>
		{% endfor %}
	</div>
{% else %}
<div class="not"> 
{% blocktrans %} You didnt create any event, so there is nothing to display here. {% endblocktrans %}
</div>
{% endif %}
</div>
{% endblock %}