{% extends "base2.html" %}
{% load i18n %}
{% block content %}

<div id="container2">
		<div class="form2">
			{% if messages %}
				{% for message in messages %}
					<font size="5" color="#b22222">{{message}}</font>
				{% endfor %}
			{% endif %}
			<h3>{% blocktrans %}Dear {{user}} You can update your event info. {% endblocktrans %}</h3>
			<form method="post" action="">
			    {% csrf_token %}
				{% for field in form %}
					<div class="pa">{{field.help_text}}<p>{{field}}<p></div>
				{% endfor %} 
				<input type="submit" class="btn btn-primary" value="Gonder" />
			</form>
		</div>

		<div class="rightside">
		{% blocktrans %}If you want to change date of this event, you must delete it and create a new one.{% endblocktrans %}
		<a style="color:#008080;" href="{% url 'delete_event' event.id %}">{% trans 'Delete event' %} </a>
		</div>

<div class="push"></div>
</div>
<div class="footer">
    {% include "footer.html" %}
</div>
{% endblock %}