{% extends "base2.html" %}{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}
<div id="container2">
<div class="form">
	{% blocktrans %} Enter your email adress in our system, than we will send you instrucions.{% endblocktrans %}
		<form method='post' action='#'>
			{% csrf_token %}
			{{form.as_p}}
			<input type='submit' class="bttn_login" value="{% trans "Send" %}" />
		</form>
</div>
<div class="push"></div>

</div>
<div class="footer">
    {% include "footer.html" %}
</div>
{% endblock %}